<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>About us</title>
</head>

<body>
    <%- include('./header') -%>

        <div class="about d-flex justify-content-center flex-column d-grid gap-4 align-items-center" style="padding: 50px;">

            <h1>About us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nihil veniam facere numquam quasi vel maxime itaque pariatur minima maiores asperiores esse labore delectus quia ullam, quidem exercitationem consequatur tempora! Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Alias cumque vel adipisci sit quos, nemo saepe temporibus? Ipsum qui, inventore praesentium beatae tenetur nulla! Voluptatibus fugit dolore fugiat. Optio, ut! Lorem ipsum dolor sit amet consectetur
                adipisicing elit. In consequatur suscipit pariatur impedit dignissimos debitis optio veniam nihil ipsa, consectetur enim excepturi! Dolorum nisi reprehenderit assumenda suscipit officia, error consequuntur. Lorem ipsum, dolor sit amet
                consectetur adipisicing elit. Cupiditate, saepe! Sequi eveniet non ipsum dolor quis voluptatem magni doloremque adipisci explicabo nihil nulla, repudiandae animi pariatur molestias eaque, dolorum ea.</p>


        </div>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>